{% extends 'authlayout.html' %}
{% load static %}

{% block hero_title %}Forgot Password{% endblock %}
{% block hero_breadcrumb %}Forgot Password{% endblock %}

{% block auth_content %}

<form method="POST" action="{% url 'password_reset' %}">
  {% csrf_token %}
  <div class="row">

    <div class="col-md-5">
      <div class="signup-box text-center">
        <div class="signup-text">
          <h3>Forgot Password</h3>
        </div>
        <div class="signup-thumb">
          <img src="{% static 'assets/img/sing-up/sign-up.png' %}" alt="image">
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="signup-form-wrapper">
        <p class="mb-25">
          Lost your password? Enter your email address and we’ll send a reset link.
        </p>

        <div class="signup-wrapper">
          <input type="email" name="email" placeholder="Enter your email" required>
        </div>

        <div class="sign-button mb-20">
          <button type="submit" class="sign-btn">Send</button>
        </div>

        <div class="registered wrapper">
          <span>Back to?</span>
          <a href="{% url 'login' %}">Login</a>
        </div>
      </div>
    </div>

  </div>
</form>

{% endblock %}
