{% extends 'authlayout.html' %}
{% load static %}

{% block hero_title %}Password Reset Successful{% endblock %}
{% block hero_breadcrumb %}Password Reset{% endblock %}

{% block auth_content %}

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="signup-form-wrapper text-center">
      <h3>Password Reset Successful</h3>

      <p class="mb-25">
        Your password has been updated successfully.
        You can now log in using your new password.
      </p>

      <div class="sign-button mt-20">
        <a href="{% url 'login' %}" class="sign-btn">Login</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
