{% load static %}
<footer>
        <div class="university-footer-area pt-100 pb-60">
            <div class="footer">
                <div class="container">
                    <div class="footer-main">
                        <div class="row">
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                <div class="university-footer-widget uf-w1 mb-40">
                                    <div class="footer-widget-head">
                                        <div class="footer-logo mb-30">
                                            <a href="index.html">
                                      <img src="{% static 'graduation-cap.png' %}" alt="Logo" style="width: 50px; height: auto; object-fit: contain;">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="university-footer-widget-body">
                                                              <p>On this channel, I share simplified tutorials on Mathematics, Physics, and Chemistry. Subscribe and turn on the notification bell to stay updated whenever a new tutorial is released.

</p>

                                        <div class="university-footer-icon">
                                            <ul>
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="#"> <i class="fab fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                <div class="university-footer-widget uf-w2 mb-40">
                                    <div class="university-footer-widget-head mb-35">
                                        <h4 class="university-footer-widget-title">Online Platform</h4>
                                    </div>
                                    <div class="university-footer-widget-body">
                                        <div class="university-footer-link">
                                            <ul>
                                                <li><a href="#">Proper Guidelines</a></li>
                                                <li><a href="#">Digital Library</a></li>
                                                <li><a href="#">Compare Us</a></li>
                                                <li><a href="#">Become Instructor</a></li>
                                                <li><a href="#">Build Career</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                <div class="university-footer-widget uf-w3 mb-40">
                                    <div class="university-footer-widget-head mb-35">
                                        <h4 class="university-footer-widget-title">Browse Courses</h4>
                                    </div>
                                    <div class="university-footer-widget-body">
                                        <div class="university-footer-link">
                                            <ul>
                                                <li><a href="#">Development</a></li>
                                                <li><a href="#">Business</a></li>
                                                <li><a href="#">Health & Fitness</a></li>
                                                <li><a href="#">Life Styles</a></li>
                                                <li><a href="#">Photography</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                <div class="university-footer-widget uf-w4 mb-40">
                                    <div class="footer-widget-head mb-35">
                                        <h4 class="footer-widget-title">Newsletter</h4>
                                    </div>
                                    <div class="university-footer-widget-body">
                                        <div class="university-footer-subscribe">
                                            <form action="#">
                                                <div class="university-footer-subscribe position-relative mb-35">
                                                    <div class="field po">
                                                        <input type="email" placeholder="Enter email">
                                                    </div>
                                                    <button type="submit">
                                                        <i class="fas fa-paper-plane"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="university-sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-5">
                        <div class="sub-footer-text">
                            <span>© Copyrighted & Designed by
                            </span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-7">
                        <div class="sub-footer-link">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Condition</a></li>
                                <li><a href="#">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>